In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./dataset/crime.csv")
df.head()

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Month,Lon,Lat
0,18,3,2009-10-02 14:24:00,2009-10-02,14:24:00,14,200918067518,S 38TH ST / MARKETUT ST,800.0,Other Assaults,NaN,2009-10,NaN,NaN
1,14,1,2009-05-10 00:55:00,2009-05-10,00:55:00,0,200914033994,8500 BLOCK MITCH,2600.0,All Other Offenses,NaN,2009-05,NaN,NaN
2,25,J,2009-08-07 15:40:00,2009-08-07,15:40:00,15,200925083199,6TH CAMBRIA,800.0,Other Assaults,NaN,2009-08,NaN,NaN
3,35,D,2009-07-19 01:09:00,2009-07-19,01:09:00,1,200935061008,5500 BLOCK N 5TH ST,1500.0,Weapon Violations,20.0,2009-07,-75.130477,40.036389
4,9,R,2009-06-25 00:14:00,2009-06-25,00:14:00,0,200909030511,1800 BLOCK WYLIE ST,2600.0,All Other Offenses,8.0,2009-06,-75.166350,39.969532

In [4]:
df.describe()

/Users/cedricdecesare/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Dc_Dist,Hour,Dc_Key,UCR_General,Police_Districts,Lon,Lat
count,2.174774e+06,2.174774e+06,2.174774e+06,2.174484e+06,2.155373e+06,2.157894e+06,2.157894e+06
mean,1.725505e+01,1.315275e+01,2.010810e+11,1.273639e+03,1.205502e+01,-7.514988e+01,3.999199e+01
std,1.065174e+01,6.819242e+00,3.127355e+08,8.155079e+02,5.793838e+00,5.972843e-02,4.537982e-02
min,1.000000e+00,0.000000e+00,1.998121e+11,1.000000e+02,1.000000e+00,-7.527773e+01,3.986999e+01
25%,9.000000e+00,9.000000e+00,2.008141e+11,NaN,NaN,NaN,NaN
50%,1.600000e+01,1.400000e+01,2.011010e+11,NaN,NaN,NaN,NaN
75%,2.400000e+01,1.900000e+01,2.013250e+11,NaN,NaN,NaN,NaN
max,9.200000e+01,2.300000e+01,2.016770e+11,2.600000e+03,2.200000e+01,-7.495750e+01,4.013790e+01